.add-container{
    background-color: #3d4760;
    width:100%;
    padding-bottom: 18px;
}
.add-container .display-flex{
    display: flex;
}
.add-container .display-flex .display-flex{
    display: flex;
}

.add-container .display-flex .col-4{
    width:41%;
    z-index: 1;
}
.add-container .display-flex .col-4 .col-4-3{
    width:43%;
    padding-top: 37px;
}
.add-container .display-flex .col-4 .col-4-3 .header-text >h3{
    color: #DCDEE1;
    padding-top: 15px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.add-container .display-flex .col-4 .col-4-3 > .header-text > h3  span{
    font-size: 11px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}
.add-container .display-flex .col-4 .pad-left {
    padding-left:13px;
}
.add-container .display-flex .col-4 .pad-y{
    padding-left: 5px;
}
.add-container .display-flex .col-6{
    width:58%;
    padding-top: 35px;
    padding-left: 20px;
}
.add-container .display-flex .col-6 .addmore{
    
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.add-container .display-flex .col-6 .addmore >span{
    font-weight: 400;
    font-size: 20px;
    color: #F2A424;
    cursor: pointer;
}
.add-container .display-flex .col-6 .addmore > i{
    padding-right: 12px;
    color: #F2A424;
    font-size: 20px;
    cursor: pointer;
}
.addmore-exp{
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(37, 45, 62, 0.9);
    z-index: 1;
    padding: 15px 30px 80px 30px;
    width:100%;
    display: none;
}
.add-closer{
    display: flex;
    justify-content: flex-end;
    padding: 29px 15px 3px 29px;
}
.add-closer .fa{
    color: #fff;
    cursor: pointer;
    font-size:20px ;
}
.addmore-exp-firstchild{
    padding-top: 0px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}
.addmore-exp-right
{
    display: flex;
}
.addmore-exp-right > p{
    padding-left: 30px;
    padding-top: 3px;
    color: #FF3366;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    cursor:pointer;
}
.addmore-exp-firstchild  .fa{
    font-weight: bold;
    color: #FF3366!important;
    padding-left:6px;
    font-size:20px ;
}
.left-dots{
    display: flex;
    flex-direction: column;
}

.left-dots >span{
    background: #FF3366!important;
    width: 6px;
    height: 6px;
    border-radius: 10px;
    margin: 1px;
    cursor:pointer;
}